.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;

}

.image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    max-width: 80vw;
    height: auto;

}

.h1{
    padding-top: 100px;
}